<h1><%= @cat.name %></h1>
<table>
    <thead>
        <tr>
            <th>ATTRIBUTE</th>
            <th>VALUE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>AGE</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>BIRTH_DATE</td>
            <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>COLOR</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>SEX</td>
            <td><%= @cat.sex %></td>
        </tr>
        <tr>
            <td>DESCRIPTION</td>
            <td><%= @cat.description %></td>
        </tr>
    </tbody>
</table>